.modal-header{
	background-color: #00BC9B;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height: 40px;
}

.btn-primary{
	background-color: #00BC9B;
}
.modal-dialog{
	border-radius: 5px;
}
.modal-title{
	color: white;
}
.modal .fade .in{
	position: absolute;
	top: 200px;
}
